.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  border: 1px solid var(--dark-grey);
  border-radius: 3px;
}

.post > *:not(:last-child) {
  margin-bottom: 1rem;
}

.comments {
  padding: 0rem;
}

.comments > *:not(:last-child) {
  margin-bottom: 2rem;
}
